@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
.bg {
  margin-top: 74px;
  height: 100vh;
  background-image: url(https://www.real-trends.com/assets/img/home/fondo-opemulti.png);
  background-size: cover;
  background-position: left;
  display: flex;
  align-items: center; }

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #fff; }

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  filter: none; }

.carousel-control-prev-icon {
  background-image: url("../assets/arrow-left.svg"); }

.carousel-control-next-icon {
  background-image: url("../assets/arrow-right.svg"); }

.carousel-dark .carousel-caption {
  color: #585757;
  text-align: right;
  bottom: 30%; }
  .carousel-dark .carousel-caption h5 {
    font-size: 3rem; }
  .carousel-dark .carousel-caption p {
    font-size: 1.5rem; }

.content-corousel {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn-ver {
  background-color: #4194d8;
  color: #fff;
  outline: none; }

.btn-ver:hover {
  background: #236da9;
  color: #fff; }

.btn-check:focus + .btn,
.btn:focus {
  background: #236da9;
  color: #fff; }
