@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
.contenedor {
  position: relative;
  overflow: hidden;
  height: 500px;
  display: flex; }

.overly {
  position: absolute;
  background-color: #ffffffa6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.section-1 {
  width: 190px;
  background: #77c1ab;
  height: 829px;
  transform: rotate(25deg) translate(-223px, 0px);
  left: 0;
  top: -125px;
  position: absolute; }

.section-2 {
  width: 100px;
  background: #c9e9de;
  transform: rotate(25deg) translate(-410px, 0px);
  left: 0;
  height: 2500px !important;
  position: absolute;
  top: -80px; }

.section-3 {
  width: 50%;
  background: #f8f9fa;
  background-image: url("https://www.real-trends.com/assets/img/home/hero-fondo.png");
  background-position: left center;
  height: 2000px;
  transform: rotate(25deg) translate(-255px, 0px);
  bottom: 0;
  right: 0px;
  top: -250px;
  position: absolute; }

.section-4 {
  width: 160px;
  background: #77c1ab;
  height: 100vh;
  transform: rotate(25deg) translate(-161px, 0px);
  top: 100px;
  right: -180px;
  position: absolute; }
