@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
.navbar {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.51);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.container-fluid {
  display: flex; }

.nav-item {
  text-align: end;
  position: relative; }
  .nav-item > a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #20c997;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out; }
  .nav-item > a:hover:before {
    transform: scaleX(1); }

.collapse {
  display: flex;
  justify-content: flex-end; }

.logobutton {
  display: flex;
  justify-content: space-between; }

.img-logo {
  width: 150px; }

.img-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover; }

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none; }
