@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
body {
  font-family: 'Roboto', sans-serif; }

p,
h1,
h2,
h3,
h4 {
  color: #292828 !important; }

.animation-title {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

/** My Custom Button **/
.blob-btn {
  z-index: 1;
  position: relative;
  height: auto;
  color: #FFFFFF;
  background-color: #4194d8;
  outline: none; }
  .blob-btn:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .blob-btn:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s 0.2s; }
  .blob-btn:hover {
    color: #FFFFFF; }
    .blob-btn:hover:after {
      transition: all 0.3s;
      left: 0;
      top: 0; }
  .blob-btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .blob-btn__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url("#goo"); }
  .blob-btn__blob {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    background: #236da9;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s; }
    @supports (filter: url("#goo")) {
      .blob-btn__blob {
        transform: translate3d(0, 150%, 0) scale(1.4); } }
    .blob-btn__blob:nth-child(1) {
      left: 0%;
      transition-delay: 0s; }
    .blob-btn__blob:nth-child(2) {
      left: 30%;
      transition-delay: 0.08s; }
    .blob-btn__blob:nth-child(3) {
      left: 60%;
      transition-delay: 0.16s; }
    .blob-btn__blob:nth-child(4) {
      left: 90%;
      transition-delay: 0.24s; }
    .blob-btn:hover .blob-btn__blob {
      transform: translateZ(0) scale(1.7); }
      @supports (filter: url("#goo")) {
        .blob-btn:hover .blob-btn__blob {
          transform: translateZ(0) scale(5.4); } }

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
.navbar {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.51);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.container-fluid {
  display: flex; }

.nav-item {
  text-align: end;
  position: relative; }
  .nav-item > a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #20c997;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out; }
  .nav-item > a:hover:before {
    transform: scaleX(1); }

.collapse {
  display: flex;
  justify-content: flex-end; }

.logobutton {
  display: flex;
  justify-content: space-between; }

.img-logo {
  width: 150px; }

.img-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover; }

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none; }

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
.bg {
  margin-top: 74px;
  height: 100vh;
  background-image: url(https://blog.real-trends.com/wp-content/uploads/2020/03/01-portada.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }
  .bg:before {
    background-image: url("../assets/images/fondo-herramientas.png");
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    bottom: 0;
    background-size: contain; }

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #fff; }

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  filter: none; }

.carousel-control-prev-icon {
  background-image: url("../assets/images/arrow-left.svg"); }

.carousel-control-next-icon {
  background-image: url("../assets/images/arrow-right.svg"); }

.carousel-dark .carousel-caption {
  color: #b2b2b2;
  text-align: right;
  bottom: 30%; }
  .carousel-dark .carousel-caption h1 {
    background-color: #71d8bfd6;
    display: inline-block;
    padding: 5px 20px; }
  .carousel-dark .carousel-caption p {
    font-size: 1.5rem;
    background: #ffffff8f;
    padding: 10px;
    text-align: left; }

.content-corousel {
  display: flex;
  justify-content: center;
  align-items: center; }

.btn-check:focus + .btn,
.btn:focus {
  background: #236da9;
  color: #fff; }

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
.contenedor {
  position: relative;
  overflow: hidden;
  height: 500px;
  display: flex; }
  .contenedor img {
    object-fit: cover; }

.overly {
  position: absolute;
  background-color: #ffffffa6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.section-1 {
  width: 190px;
  background: #77c1ab;
  height: 829px;
  transform: rotate(25deg) translate(-223px, 0px);
  left: 0;
  top: -125px;
  position: absolute; }

.section-2 {
  width: 100px;
  background: #c9e9de;
  transform: rotate(25deg) translate(-410px, 0px);
  left: 0;
  height: 2500px !important;
  position: absolute;
  top: -80px; }

.section-3 {
  width: 50%;
  background: #f8f9fa;
  background-image: url("../assets/images/hero-fondo.png");
  background-position: left center;
  height: 2000px;
  transform: rotate(25deg) translate(-255px, 0px);
  bottom: 0;
  right: 0px;
  top: -250px;
  position: absolute; }

.section-4 {
  width: 160px;
  background: #77c1ab;
  height: 100vh;
  transform: rotate(25deg) translate(-161px, 0px);
  top: 100px;
  right: -180px;
  position: absolute; }

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
.bg-section {
  padding: 100px 0; }

.content__tabs--title {
  color: #b2b2b2;
  display: inline-block;
  background-color: #f7f7f7;
  padding: 5px 15px; }

.content__tabs--sub-title {
  color: #b2b2b2;
  display: inline-block;
  background-color: #79dfc1;
  padding: 5px 15px; }

.content__tabs--paragraph {
  color: #b2b2b2; }

.card-tabs {
  padding: 2.5rem 40px;
  z-index: 9;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 30px #0000001a; }

.nav-link {
  padding: 0.4rem 1rem; }

.nav-tabs {
  max-width: 360px;
  margin: auto;
  display: flow-root; }

.nav-tabs .nav-link {
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #4194d8;
  color: #4194d8;
  cursor: pointer;
  float: left;
  transition: background-color 0.2s;
  width: 50%; }
  .nav-tabs .nav-link:hover {
    background: #236da9;
    color: #fff;
    outline: none;
    transition: background-color 0.2s; }

.btn-border-left {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-top-right-radius: 0 !important; }

.btn-border-right {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 0 !important; }

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent; }

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #4194d8;
  border-color: #236da9; }

.tab-content {
  padding-top: 30px; }

.content-waves2 {
  position: relative;
  background-color: #ffffff;
  color: white; }

.waves2 {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 200px;
  max-height: 250px; }

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
.visible {
  opacity: 1 !important;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none !important; }

.talks {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .talks__categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    overflow: auto; }
    .talks__categories--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      -webkit-transform: translateX(-40px);
      -moz-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
      -o-transform: translateX(-40px);
      transform: translateX(-40px);
      -webkit-transition: all 0.6s ease-out;
      -moz-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
      -o-transition: all 0.6s ease-out;
      transition: all 0.6s ease-out;
      background-color: transparent;
      border: 0; }
      .talks__categories--item > span {
        font-size: 0.8rem;
        color: #585757;
        text-transform: capitalize; }
      .talks__categories--item > img {
        width: 50px;
        height: 50px;
        cursor: pointer;
        border-radius: 50%; }
        .talks__categories--item > img:hover {
          background-color: #dcdcdc; }
    .talks__categories--item-active > img {
      background-color: #57ca9773 !important; }
  .talks__search {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    box-shadow: 0px 0px 30px #0000001a;
    transition: 0.5s;
    border: 0;
    outline: 0 !important; }
    .talks__search:hover {
      box-shadow: 0px 0px 30px #00000047; }
  .talks__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
    padding: 0;
    margin: 0; }
    .talks__gallery--item {
      list-style: none;
      background-color: #71d8bf;
      border: 0;
      color: white;
      padding: 20px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 260px;
      opacity: 0;
      -webkit-transform: rotate(40deg) scale(0.5);
      -moz-transform: rotate(40deg) scale(0.5);
      -ms-transform: rotate(40deg) scale(0.5);
      -o-transform: rotate(40deg) scale(0.5);
      transform: rotate(40deg) scale(0.5);
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      -ms-transition: all 0.8s ease-in-out;
      -o-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out; }
      .talks__gallery--item > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        filter: invert(1); }
      .talks__gallery--item > h5 {
        font-size: 1rem; }
    .talks__gallery li:nth-child(3n+1) {
      background-color: #79dfc1; }
    .talks__gallery li:nth-child(3n+2) {
      background-color: #4194d8; }
    .talks__gallery li:nth-child(3n+3) {
      background-color: #b2b2b2; }

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
.news {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  flex-direction: column;
  background-image: url(https://www.real-trends.com/assets/img/home/fondo-opemulti.png);
  background-size: 100%; }
  .news__title {
    color: #b2b2b2;
    text-align: center; }
  .news__item {
    background: #f4f4f4;
    background-image: url(https://www.real-trends.com/assets/img/home/fondo-opemulti.png);
    background-size: contain;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    text-align: center;
    color: #b2b2b2; }

.owl-carousel div:nth-child(2n) > div {
  background-image: url(https://www.real-trends.com/assets/img/home/hero-fondo.png);
  background-size: cover; }

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
.contac {
  background: #DEDEDE; }

.support {
  display: flex;
  justify-content: center;
  align-items: center; }

.doubts {
  padding: 30px;
  display: flex;
  align-items: center; }
  .doubts span {
    font-size: 1rem;
    font-weight: bold;
    padding: 0 20px; }

.chat-w {
  background: #4194d8;
  color: #fff;
  outline: none;
  font-size: 1rem; }
  .chat-w:hover {
    background: #236da9;
    color: #fff; }

.contact-details {
  display: flex;
  padding: 30px; }

.email-address {
  align-items: center;
  display: flex;
  padding: 0 20px;
  border-left: 1px solid; }
  .email-address a {
    font-size: 1rem;
    color: #292828;
    text-decoration: none; }

.other-contact {
  border-left: 1px solid;
  padding: 0 20px; }
  .other-contact p {
    margin: 0;
    font-size: 1rem; }

.whatsapp i {
  font-size: 1.4rem;
  font-weight: bold; }

.whatsapp a {
  text-decoration: none; }

.footer {
  background: #292828;
  padding: 75px 40px 10px;
  box-sizing: border-box; }

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.item h3 {
  color: #fff;
  font-size: 20px; }

.item ul {
  padding: 0; }
  .item ul li {
    list-style: none;
    padding: 10px 0; }
    .item ul li a {
      text-decoration: none;
      color: #fff; }

.redes h3 {
  color: #fff;
  font-size: 20px; }

.redes ul {
  padding: 0; }
  .redes ul li {
    list-style: none;
    padding: 10px 0; }
    .redes ul li i {
      font-size: 30px;
      margin-right: 10px;
      color: #fff; }
    .redes ul li a {
      text-decoration: none;
      color: #fff; }

.logo-footer img {
  margin-top: -20px;
  width: 200px; }

.copy-right {
  border-top: 1px solid #fff;
  padding: 10px 0; }
  .copy-right span {
    color: #fff;
    font-size: 12px; }

.content-waves {
  position: relative;
  background-color: #DEDEDE;
  color: white; }

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 200px;
  max-height: 250px; }

.waves-bg {
  height: 175px;
  width: 100%; }

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite; }

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s; }

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s; }

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s; }

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s; }

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0); }
  100% {
    transform: translate3d(85px, 0, 0); } }

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px; } }

.effect > div {
  opacity: 0;
  -webkit-transform: translateY(-150px);
  -moz-transform: translateY(-150px);
  -ms-transform: translateY(-150px);
  -o-transform: translateY(-150px);
  transform: translateY(-150px);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.effect.showing > div {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

.cursor-floating {
  z-index: 10000;
  position: fixed;
  width: 80px;
  height: 80px;
  border: 1px solid #585757;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.03s; }

.cursor-floating-core {
  z-index: 10000;
  position: fixed;
  width: 6px;
  height: 6px;
  border: 1px solid #585757;
  background-color: #585757;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.07s; }

.cursor-floating-in-hover {
  transform: translate(-50%, -50%) scale(1.5);
  border: 2px rigid #585757;
  background-color: #71d9bf;
  opacity: 0.3; }

.cursor-floating-core-in-hover {
  opacity: 0; }

.cursor-floating-in-hover:before {
  display: block;
  content: ' ';
  background-image: url("../assets/pulse.svg");
  height: 122px;
  width: 122px;
  transform: translate(-22px, -22px); }

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@media (min-width: 315px) and (max-width: 600px) {
  .container-fluid {
    display: block; }
  .contenedor {
    height: 400px; }
  .section-1 {
    width: 140px; }
  .section-2 {
    width: 40px;
    transform: rotate(25deg) translate(-470px, 0px); }
  .section-3 {
    width: 75%;
    transform: rotate(25deg) translate(-110px, 0px); }
  .section-4 {
    width: 40px; }
  .carousel-dark .carousel-caption {
    bottom: 10%; }
    .carousel-dark .carousel-caption p {
      font-size: 1rem; }
  .bg-section {
    padding: 50px 0; }
  .talks__gallery {
    grid-template-columns: repeat(1, 1fr); }
  .support {
    display: block; }
  .doubts {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start; }
    .doubts span {
      padding: 0 20px 0 0; }
  .contact-details {
    display: block;
    padding: 10px; }
  .email-address {
    padding: 0 0 20px 0;
    border-left: 0; }
  .other-contact {
    border-left: 0;
    padding: 0 0 20px 0; }
  .redes ul li i {
    font-size: 20px; }
  .footer-content {
    display: block; } }

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@media (min-width: 600px) and (max-width: 990px) {
  .container-fluid {
    display: block; }
  .section-2 {
    width: 50px;
    transform: rotate(25deg) translate(-450px, 0px); }
  .section-3 {
    width: 60%;
    transform: rotate(25deg) translate(-160px, 0px); }
  .section-4 {
    width: 70px; }
  .carousel-dark .carousel-caption {
    bottom: 10%; }
    .carousel-dark .carousel-caption p {
      font-size: 1rem; }
  .bg-section {
    padding: 50px 0; }
  .talks__gallery {
    grid-template-columns: repeat(3, 1fr); }
  .support {
    display: block; }
  .doubts {
    padding: 10px; }
    .doubts span {
      padding: 0 20px 0 0; }
  .contact-details {
    display: block;
    padding: 10px; }
  .email-address {
    padding: 0 0 20px 0;
    border-left: 0; }
  .other-contact {
    border-left: 0;
    padding: 0 0 20px 0; }
  .redes li i {
    font-size: 20px; }
  .footer-content {
    display: block; } }
