@import "./variables.scss";
@import "./functions.scss";

.news {
    &__title {
        color: $gray;
        text-align: center;
    }

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    flex-direction: column;
    background-image: url(https://www.real-trends.com/assets/img/home/fondo-opemulti.png);
    background-size: 100%;

    &__item {
        background: #f4f4f4;
        background-image: url(https://www.real-trends.com/assets/img/home/fondo-opemulti.png);
        background-size: contain;
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 200px;
        text-align: center;
        color: $gray;
    }
}

.owl-carousel {
    & div:nth-child(2n) {
        &>div {
            background-image: url(https://www.real-trends.com/assets/img/home/hero-fondo.png);
            background-size: cover;
        }
    }
}