@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia.ttf"); }

/* Global padding */
/* palette color */
/* palette color */
/* basic colors */
@media (min-width: 315px) and (max-width: 600px) {
  .container-fluid {
    display: block; }
  .section-1 {
    width: 140px; }
  .section-2 {
    width: 40px;
    transform: rotate(25deg) translate(-470px, 0px); }
  .section-3 {
    width: 75%;
    transform: rotate(25deg) translate(-110px, 0px); }
  .section-4 {
    width: 40px; }
  .carousel-dark .carousel-caption {
    bottom: 10%; }
    .carousel-dark .carousel-caption p {
      font-size: 1rem; }
  .bg-section {
    padding: 50px 0; }
  .talks__gallery {
    grid-template-columns: repeat(1, 1fr); }
  .support {
    display: block; }
  .doubts {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start; }
    .doubts span {
      padding: 0 20px 0 0; }
  .contact-details {
    display: block;
    padding: 10px; }
  .email-address {
    padding: 0 0 20px 0;
    border-left: 0; }
  .other-contact {
    border-left: 0;
    padding: 0 0 20px 0; }
  .redes ul li i {
    font-size: 20px; }
  .footer-content {
    display: block; } }
