<section class="bg">
    <div class="container">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            @@include('./contentCarousel.html')           
            <div class="carousel-caption d-md-block">
              <h1>Finanzas</h1>
              <p>Las finanzas estudian cómo los agentes económicos (empresas, familias o Estado) deben tomar 
                decisiones de inversión, ahorro y gasto en condiciones de incertidumbre.</p>
              <button class="btn blob-btn">Ver más
                <span class="blob-btn__inner">
                  <span class="blob-btn__blobs">
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  </span>
                  </span>
              </button>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10000">  
            @@include('./contentCarousel2.html')          
            <div class="carousel-caption d-md-block">
              <h1>Social Media</h1>
              <p>Los medios sociales se basan en la influencia y la interacción entre
                 una audiencia pública que es cada vez más inteligente y participativa.</p>
            <button class="btn  blob-btn">Ver más
              <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                </span>
                </span>
            </button>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon text-white" aria-hidden="true">
            <!-- <img src="assets/images/arrow-left.svg" alt=""> -->
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon text-white" aria-hidden="true">
            <!-- <img src="assets/images/arrow-right.svg" alt=""> -->
          </span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  
</section>
