<div class="contac">
    <div class="container support">
        <div class="doubts">
            <span>¿Te quedaron dudas?</span>
            <button class="btn chat-w">Chatea con Nosotros</button>
        </div>
        <div class="contact-details">
            <div class="email-address">
                <span>contacto@real-trends.com</span>
            </div>
            <div class="other-contact">
                <p>Lunes a viernes de 10-13 / 15-18 h</p>
                <div class="whatsapp">
                    <i class="fab fa-whatsapp"></i>
                    <span>Escribinos al <a href="">+5491121711009</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
       <div class="footer-content">
        <div class="item">
            <h3>Contenido</h3>
            <ul>
                <li class="">
                    <a class=""  href="#">Home</a>
                  </li>
                  <li class="">
                    <a class="" href="#">Features</a>
                  </li>
                  <li class="">
                    <a class="" href="#">Pricing</a>
                  </li>
            </ul>
        </div>
        <div class="redes">
            <h3>Siguenos:</h3>
            <ul>
                <li>
                    <i class="fab fa-facebook-square"></i>
                    <span>Facebook</span>
                </li>
                <li>
                    <i class="fab fa-instagram"></i>
                    <span>Instagram</span>
                </li>
                <li>
                    <i class="fab fa-linkedin"></i>
                    <span>Linkedin</span>
                </li>
                <li>
                    <i class="fab fa-twitter-square"></i>
                    <span>Twitter</span>
                </li>
            </ul>
        </div>
        <div class="logo-footer">
            <img src="../assets/images/header/logo-rt.svg" alt="">
        </div>
       </div>
       <div class="copy-right">
           <span>Copyright © 2014-2021 Real Trends SRL. Real Trends es una marca registrada. Todos los derechos reservados.</span>
       </div>
    </div>

</footer>