<section class="news">
    <div class="container">
        <h1 class="news__title animation-title">Lo que se viene</h1>
        <div class="owl-carousel owl-theme">
            <div class="news__item"><h4>Cambios en MercadoLibre</h4></div>
            <div class="news__item"><h4>Día del Padre</h4></div>
            <div class="news__item"><h4>Pagá menos retenciones</h4></div>
            <div class="news__item"><h4>Hot Sale</h4></div>
            <div class="news__item"><h4>Mercado Crédito</h4></div>
            <div class="news__item"><h4>5 claves para preparar tu tienda online</h4></div>
            <div class="news__item"><h4>Cómo evitar estafas en Mercado Libre</h4></div>
            <div class="news__item"><h4>Novedades en flex</h4></div>
            <div class="news__item"><h4>Optimizá tu negocio</h4></div>
        </div>
    </div>
    </section>