<div class="bg-section" id="tabs">
  <div class="container">
      <div >
          <ul class="nav nav-tabs animation-title" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active btn-border-left blob-btn" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                Nosotros
                <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                </span>
                </span>
                </button>
                </li>
                <li class="nav-item" role="presentation">
                <button class="nav-link btn-border-right blob-btn" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                Profile
                <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                </span>
                </span>
                </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="
              content__tabs tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <h1 class="animation-title content__tabs--title">Temporibus Minus</h1><br>
                  <h3 class="animation-title content__tabs--sub-title">¿Quienes somos?</h3>
                  <br>
                  <p class="animation-title content__tabs--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Temporibus minus illum rem vel deleniti? Asperiores ut, 
                      sunt mollitia labore illum quo incidunt? Quod alias dolore, 
                      animi odio maxime veritatis numquam?ipsum dolor sit amet consectetur adipisicing elit.
                      Temporibus minus illum rem vel deleniti? Asperiores ut,
                      sunt mollitia labore illum quo incidun
                      ipsum dolor sit amet consectetur adipisicing elit.
                      Temporibus minus illum rem vel deleniti? Asperiores ut,
                      sunt mollitia labore illum quo incidun
                  </p>
              </div>
              <div class="tab-pane fade content__tabs" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <h1 class="animation-title content__tabs--title">Maxime Veritatis Numquam</h1><br>
                  <h3 class="animation-title content__tabs--sub-title">Illum Rem Vel</h3>
                  <br>
                  <p class="animation-title content__tabs--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Temporibus minus illum rem vel deleniti? Asperiores ut, 
                      sunt mollitia labore illum quo incidunt? Quod alias dolore, 
                      animi odio maxime veritatis numquam?.
                      Temporibus minus illum rem vel deleniti? Asperiores ut, 
                      sunt mollitia labore illum quo incidunt? Quod alias dolore, 
                      animi odio maxime veritatis numquam?ipsum dolor sit amet consectetur adipisicing elit.
                      Temporibus minus illum rem vel deleniti? Asperiores ut,
                      sunt mollitia labore illum quo incidun
                      ipsum dolor sit amet consectetur adipisicing elit.
                      Temporibus minus illum rem vel deleniti? Asperiores ut,
                      sunt mollitia labore illum quo incidun
                  </p>
              </div>
            </div>
      </div>
  </div>
  <div class="content-waves2">
    <!--Waves Container-->
    <div>
        <svg class="waves2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(247,247,247,0.8" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(247,247,247,0.6)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(247,247,247,0.4)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#f7f7f7" />
            </g>
        </svg>
    </div>
    <!--Waves end-->
</div>
</div>
