@import "../variables";
@import "../functions";

@media (min-width: 600px) and (max-width: 990px) {
    .container-fluid {
        display: block;
    }

    //contentCarousel    
    .section-2 {
        width: 50px;
        transform: rotate(25deg) translate(-450px, 0px);
    }

    .section-3 {
        width: 60%;
        transform: rotate(25deg) translate(-160px, 0px);
    }

    .section-4 {
        width: 70px;
    }

    .carousel-dark .carousel-caption {
        bottom: 10%;

        p {
            font-size: 1rem;

        }
    }

    //tabs
    .bg-section {
        padding: 50px 0;
    }

    //talks
    .talks__gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    // footer
    .support {
        display: block;
    }

    .doubts {
        padding: 10px;

        span {
            padding: 0 20px 0 0;
        }
    }

    .contact-details {
        display: block;
        padding: 10px;
    }

    .email-address {
        padding: 0 0 20px 0;
        border-left: 0;
    }

    .other-contact {
        border-left: 0;
        padding: 0 0 20px 0;
    }

    .redes {
        li {
            i {
                font-size: 20px;
            }
        }
    }

    .footer-content {
        display: block;
    }
}